{% extends "base.html" %}

{% block content %}

<h1>Estudiantes</h1>

<a href="{{ url_for('nuevo_estudiante') }}" class="btn btn-success mb-2">Nuevo Estudiante</a>
      <table class="table table-stipped table-hover">
        <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>fecha Nac</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.id }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellidos }}</td>
                <td>{{ estudiante.fecha_nacimiento }}</td>
                <td>
                    <a href="{{ url_for('editar_estudiante', id=estudiante.id) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ url_for('eliminar_estudiante', id=estudiante.id) }}" class="btn btn-danger" onclick="return confirm('Estas seguro de eliminar el estudiante?')">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

      </table>
{% endblock %}